<html>
   <head> <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" href="/styles/City.css">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="container">
            <div class="banner">
                <div id="homebtn">
                <a id="home-btn" href="demo.html" title="Home"><img src="/icons/1x/outline_arrow_back_white_24dp.png" alt="ToHome"></a>
                </div>
                <div> <h2>City Images</h2>
               </div>
            </div>
        
        <div class="main">
        <div class="image-container">
            <div class="cityzero">
                <img class="cityzimg" src="/images/city/cityone.jpeg" alt="Cityimages">    
            </div>
            <div class="cityim1">
                <img class="cm1img" src="/images/city/city-street.jpeg" alt="Cityimages">    
            </div>
            <div class="cityim2">
                <img class="cm2img" src="/images/city/city2.jpeg" alt="Cityimages">    
            </div>
            <div class="cityim3">
                <img class="cm3img" src="/images/city/city3.jpeg" alt="Cityimages">    
            </div>
        </div>
        <div class="image-containerlvl2">
                <div class="cityim4">
                    <img class="cm4img" src="/images/city/city4.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim5">
                    <img class="cm5img" src="/images/city/cityppl.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim6">
                    <img class="cm6img" src="/images/city/citytrns.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim7">
                    <img class="cm7img" src="/images/city/cityview.jpeg" alt="Cityimages">    
                </div>
          </div>
          <div class="image-containerlvl3">
                <div class="cityim9">
                    <img class="cm9img" src="/images/city/citywin.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim10">
                    <img class="cm10img" src="/images/city/citycpl.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim11">
                    <img class="cm11img" src="/images/city/citywalk.jpeg" alt="Cityimages">    
                </div>
                <div class="cityim12">
                    <img class="cm12img" src="/images/city/cityweath.jpeg" alt="Cityimages">
                </div>
            </div>
            <div class="image-containerlvl4">
                <div class="cityvid">
                    <video class="cm10vid" autoplay loop="loop">
                        <source src="/videos/city-video.mp4" type="video/mp4">
                
                    </video>  
                </div>
                <div class="cityim13">
                    <img class="cm13img" src="/images/city/empire.jpeg" alt="Cityimages">
                </div>
                <div class="cityim14">
                    <img class="cm14img" src="/images/city/cityevng.jpeg" alt="Cityimages">
                </div>
            </div>
        </div>
        </div>
</body>
</html>