<html>
   <head> <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" href="/styles/explore.css">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="banner">
                <div id="homebtn">
                <a id="home-btn" href="index.html" title="Home"><img src="/icons/1x/outline_arrow_back_white_24dp.png" alt="ToHome"></a>
                </div>
                <div> <h2>Explore</h2>
               </div>
            </div>
            <div class="image-container">
                <div class="frame">
                    <img id="exp1" src="/images/explore/explore.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp2" src="/images/explore/lady.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp3" src="/images/explore/man.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp4" src="/images/explore/manboat.jpeg" alt="Exploring"/>
                </div>
            </div>
            <div class="image-container">
                <div class="frame">
                    <img id="exp1" src="/images/explore/manonhill.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp2" src="/images/explore/naturewalk.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp3" src="/images/explore/rnds.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp4" src="/images/explore/sea1.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp5" src="/images/explore/bhutan.jpeg" alt="Exploring"/>
                </div>
            </div>
            <div class="image-container">
                <div class="frame">
                    <img id="exp1" src="/images/explore/tophill.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp2" src="/images/explore/valley.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp3" src="/images/explore/winter.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp4" src="/images/explore/traveller.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp5" src="/images/explore/kedarnath.jpeg" alt="Exploring"/>
                </div>
            </div>
            <div class="image-container">
                <div class="frame">
                    <img id="exp1" src="/images/explore/bhutan.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp2" src="/images/explore/hippy.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp3" src="/images/explore/houseonhill.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp4" src="/images/explore/seasunset.jpeg" alt="Exploring"/>
                </div>
                <div class="frame">
                    <img id="exp5" src="/images/explore/travellerf.jpeg" alt="Exploring"/>
                </div>
            </div>
            
        
        </div>

        

</body>
</html>
